* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/* PRIMO BLOCCO */
.container-fullwidth{
    background-color: #0c3259;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
    /* eliminare */
    background-color: lightblue;
}

header {
    height: 72px;
    /* eliminare */
    background-color: yellow;
}

.banner {
    height: 430px;
}

/* SECONDO BLOCCO */

.grigio {
    background-color: #f9f9f9;
}

.bloccogrigio {
    background-color: grey;
    height: 150px;
}

/* TERZO BLOCCO */

.bianco {
    background-color: white;
}

.bloccobianco {
    width: 100%;
}

.carta {
    width: 33.3333%;
    float: left;
    /* eliminare */
    background-color: yellow;
    height: 500px;
    border: 1px solid black;

}
