* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* PRIMO BLOCCO */
.container-fullwidth{
    background-color: #0c3259;
}

.container {
    width: 83%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    height: 72px;
    line-height: 72px;
    /* eliminare */
    width: 100%;
}

.logo, .menu, .login {
    float: left
}

.login {
    float: right;
}

.logo {
    width: 15%;
    height: 100%;
    position: relative;
}

.logo img {
    position: absolute;
    top: 50%;
    transform: translate(0%, -70%);
}

li {
    display: inline-block;
    padding: 5px;
}

header a {
    color: white;
    font-size: 11px;
    font-weight: bolder;
}

li a:hover {
    color: orange;
}

form {
    display: inline-block;
}

.login a {
    color: #7f9ab7;
}

input {
    color: white;
    font-size: 11px;
    font-weight: bolder;
}

.loggati {
    padding: 9px 23px;
    background-color: #0c3259;
    border: 1px solid #517ea7;
    border-radius: 10%;
    margin: 0 8px 0 12px;
}

.piano {
    background-color: #7eb802;
    border-width: 0;
    border-radius: 8%;
}

.uno {
    padding: 9px;
}

.bannerone {
    width: 60%;
    height: 420px;
    position: relative;
}

.sottobanner {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.sottobanner h1 {
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
    font-weight: 300;;
}

.due {
    padding: 15px 20px;
    font-size: 13px;
}

/* SECONDO BLOCCO */

.grigio {
    background-color: #f9f9f9;
}

.bloccogrigio {
    background-color: grey;
    height: 150px;
}

/* TERZO BLOCCO */

.bianco {
    background-color: white;
}

.bloccobianco {
    width: 100%;
}

.carta {
    width: 33.3333%;
    float: left;
    /* eliminare */
    background-color: yellow;
    height: 500px;
    border: 1px solid black;

}
